body {
  background-color: lightgray;
}

.container-login{
  align-items: center;
  background-color: gray;
  border-radius: 5px;
  box-shadow: 3px 2px 6px;
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  justify-content: center;
  margin-top: 200px;
  vertical-align:middle ;
  width: 700px;
}

.formulario{
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  vertical-align: middle ;
  width:100%;
}

.input{
  background: lightgray;
}